body{
background-size: cover;
background-position: center;
}
.heading{
font-size: 23px;
width: 100%;
margin: 0px;
}
#status{
font-size: 18px;
}
canvas{
box-shadow: 10px 10px 10px grey;
border-radius: 10px;
margin-top: 50px;
}
a{
    font-size: 25px;
    color: black;
    background-color: aliceblue;
    width: 50%;
    border:black;
    border-radius: 10px;
}
#back{
    width: 100px;
    float: right;
    box-shadow: 10px 10px 10px grey;
    margin-top: 10px;
    margin-right: 10px;
}